NEXT_PUBLIC_SUPABASE_URL=https://jvxbasnyjbjljcrcvtos.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2eGJhc255amJqbGpjcmN2dG9zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyNDUyODgsImV4cCI6MjA5MDgyMTI4OH0.WrluDtalW2wrtMrX16vhiHLzpqbtf1Egmuzl7jQmsj0
